.bottom-nav {
  width: 240px;
  height: 60px;
  position: absolute;
  bottom: 0px;
  left: 72px;
  background-color: #2A2A2E;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.left-nav-bar {
  display: flex;
  align-items: center;
  gap: 5px;

}

.nav-user-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

.nav-button {
  cursor: pointer;
  background-color: #65656b5b;
  border-radius: 15px;
  color: white;
  width: 70px;
  border: none;
  height: 1.6rem;
  font-size: 12px;
}

.nav-username {
  color: white;
  font-size: 14px;
}
