.top-bar {
  display: flex;
  height: 55px;
  position: absolute;
  z-index: 0;
  background-color: var(--channel-nav);
  width: calc(100% - 72px);
  margin-left: 72px;
  border-bottom: .1rem solid var(--left-right-nav);
  box-shadow: var(--left-right-nav) .1rem .1rem .4rem ;
}

#channel-top-title {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: .3rem;
  width: 100%;
  color: var(--text);
  background-color: var(--center-page);
}

.top-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.title-profile-img {
  border-radius: 100%;
  width: 3rem;
  padding: .4rem;
  height: auto;
}

i.fa-solid.fa-hashtag.title-icon {
  font-size: 1.5rem;
}

.dm-bar {
  color: var(--text);
  background-color: #1e1f22;
  padding: 0.4rem;
  border-radius: 0.3rem;
  border: none;
  width: 100%;
  text-align: left;
  margin: 0 0.4rem;
  cursor: pointer;
}
