#root {
  display: block;
}

.wrapper {
  height: 560px;
  background-color: #404eed;
  height: 100vw;
  display: block;
}

.landing-title {
  margin-bottom: 20px;
  color: white;
  margin-bottom: 46px;
  font-size: 50px;
  font-weight: 300;
  z-index: 2;
}

.landing-body {
  color: white;
  font-size: 18px;
  z-index: 1;
  line-height: 180%;
}

.body-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  z-index: 5;
}

.body {
  display: flex;
  flex-direction: column;
  width: 800px;
  align-items: center;
}

.open-discordia {
  width: 380px;
  height: 68px;
  background-color: #33343d;
  color: white;
  border-radius: 35px;
  margin-top: 50px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  z-index: 2;
}

.all-images {
  background-color: #404eed;
  display: flex;
  justify-content: center;
  /* border: 1px solid bisque; */
}

.main-bg-image {
  position: absolute;
  top: -68px;
  height: 754px;
  width: auto;
  z-index: 0;
}

.left-bg-image {
  position: relative;
  max-width: 700px;
  bottom: 213px;
  right: 1433px;
}

.right-bg-image {
  position: relative;
  max-width: 631px;
  bottom: 220px;
  left: 1482px;
}

.footer {
  background-color: #33343d;
  width: 100%;
  height: 10rem;
  position: fixed;
  bottom: 0;
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.dm-img {
  height: 2.3rem;
}

.dm-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.discordia-title {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: white;
  margin-left: 10px;
}

/* start the top nav stuff */
.top-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #404eed;
  padding: 20px;
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100vw;
}

li.top-right-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.fa-solid {
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.fa-bars {
  font-size: 58px;
}

.login-button {
  width: 209px;
  height: 68px;
  border-radius: 35px;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.sign-up-button {
  width: 209px;
  height: 68px;
  border-radius: 35px;
  border: 3px solid white;
  background-color: #404eed;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.welcome-user {
  color: white;
}

.user-email {
  color: white;
}

@media (max-width: 2400px) {
  .left-bg-image {
    /* right: 1%; */
    /* Adjust the value as needed */
    transform: translateX(60%);
  }

  .right-bg-image {
    /* Adjust the value as needed */
    transform: translateX(-30%);
  }
}

@media(max-width: 1400px) {
  .right-bg-image {
    left: 1100px;
  }
}


@media (max-width: 1020px) {

  .wrapper {
    overflow: hidden;
  }

  /* .left-bg-image {
    visibility: hidden;
  } */

  .right-bg-image {
    bottom: -35px;
    left: 764px;
  }

  .main-bg-image {
    top: -196px;
    width: 300%;
    left: -299px;
    height: 599px;
  }

  .landing-title {
    font-size: 30px;
    margin-bottom: 1rem;
  }

  .open-discordia {
    width: 309px;
    height: 49px;
    font-size: 16px;
    margin-top: 17px;
  }

  .sign-up-button {
    width: 127px;
    height: 49px;
    font-size: 16px;
  }

  .login-button {
    width: 127px;
    height: 49px;
    font-size: 16px;
  }

  .body-wrapper {
    justify-content: start;
    margin: 0 2rem;
  }

  .body {
    align-items: start;
    height: 15rem;
    margin: 10px 0;
    width: 420px;
    height: 20rem;

  }

  .landing-title {
    font-size: 25px;
  }

  .images-all {
    background-color: #404eed;
  }

  .landing-body {
    font-size: 16px;
  }

  .top-nav {
    width: 100%;
  }

  .images-all {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 270px;
  }
}

@media (max-width: 817px) {
  .login-button {
    width: 97px;
    height: 36px;
    font-size: 14px;
  }

  .sign-up-button {
    width: 97px;
    height: 36px;
    font-size: 14px;
  }

  li.top-left-nav {
    display: flex;
    align-items: center;
  }

  li.top-right-nav {
    gap: 1rem;
  }

  .discordia-title {
    font-size: 24px;
  }

  .body-wrapper {
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
  }

  .body {
    text-align: center;
    align-items: center;
    align-self: center;
    width: 100%;
  }

  .landing-title {
    text-align: center;
  }

  .open-discordia {
    align-self: center;
  }

  .right-bg-image {
    bottom: 0px;
    left: 366px;
  }

  .images-all {
    top: 533px;
    background-color: #404eed;
  }

}
