* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat:ital,wght@0,100;0,200;0,400;0,700;0,800;1,100;1,200&display=swap");

:root {
  --login-logout-button: #65656c;
  --modal-background: #33343d;
  --modal-input: #232326;
  --left-right-nav: #1e1f22;
  --channel-nav: #2b2d31;
  --center-page: #313338;
  --user-info: #2a2a2e;
  --text: #d3d3d3;
  --hover-channel: #404249;
  --check-box: #29cc7a;
  --main-button-blue: #5865f2;
  --main-button-gray: #33343d;
  --main-button-red: #da373c;
  --input-text-messages: #d4d4d4;
  --input-messages-background: #65656c83;
  --message-hover: #2e3035;
}

body {
  background-color: var(--center-page)
}

#bars {
  display: flex;
  position: relative;
}

.socket-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: auto;
  margin-top: 3rem;
  gap: 1rem;
  flex-shrink: 1;
  background-color: var(--center-page);
  color: white;
  padding: 1rem;
}

#messages-scroll {
  overflow: hidden scroll;
  display: flex;
  flex-direction: column-reverse;

}

.channel-messages-input-form {
  border: solid
}

textarea {
  resize: none
}

.message-user-img {}

.message-info {}

.container-messages {
  display: flex;
  gap: .8rem;

}

.message-time-updated {
  font-size: 10px;
}

.message-user-info {
  display: flex;
  gap: 5px;
  align-items: center;
}

.group-messages-buttons {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  padding: .8rem;
  border-radius: .7rem;
}

.group-messages-buttons:hover {
  background-color: var(--message-hover);
}

.message-update-buttons {
  /* display: flex;
  gap: 5px; */
}

.delete-message-button {
  border: none;
  background-color: var(--center-page);
  margin-right: 5px;
  color: var(--hover-channel);
}

.update-conversation {
  border: none;
}

.fa-trash-can {
  font-size: 15px;
  color: var(--main-button-red);
  background-color: var(--center-page);
}

.fa-gear {
  font-size: 15px;
  background-color: var(--center-page);
}


.footer {
  background-color: #33343d;
  color: var(--text);
  width: 100%;
  height: 10rem;
  position: fixed;
  bottom: 0;
  z-index: 2;
  padding: 10px;
}

.developer-info-boxes {
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;
  padding-bottom: 1rem;
  margin: 1rem;
}

.coder-title {
  font-weight: 200;
  margin-top: .5rem;
  font-size: 20px;
}

.coder-layout-info {
  display: flex;

}

.coder-name {
  font-size: 14px;
}

.coder-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: var(--modal-input);
  border-radius: 10px;
  padding: 1rem;
  column-gap: .5rem;

}

.coder-info {
  /* border: 1px solid var(--center-page); */
  flex: 1;
}

.coder-info-right {}

.coder-link {
  font-size: 12px;
  color: var(--text);
}

.coder-image {
  width: 40px;
  border-radius: 30px;
}

.coder-contact-info {
  display: flex;
  gap: .5rem;
  margin-top: .2rem;
}

.footer-container {
  height: 100%;
}

.message-input {
  border-radius: 10px;
  background-color: var(--input-messages-background);
  padding: 15px;
  color: var(--input-text-messages)
}

.message-input:focus {
  border-color: var(--input-text-messages);
  /* Light grey border color on focus */
  outline: none;
}

.image-upload {
  border: black 2px dashed;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  align-self: center;
  background-color: var(--text);
  cursor: pointer;
}
