#create-server-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    box-sizing: border-box;
    border-radius: 35px;
    background-color: #33343d;
    padding: 1rem;
}

.create-server-title {
    margin-top: 1rem;
    color: #fff;
    font-weight: 300;
    font-size: 2rem;
    font-weight: 400;
}
.create-server-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    color: #fff;
}

#create-server-button {
    border-radius: 15px;
    background-color: #5865f2;
    color: #fff;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
}

