.user-list {
    list-style: none;
}

.user-box {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-box:hover {
    background-color: wheat;
}

.server-user-list {
    overflow: auto;
    scrollbar-width: 0;
    scroll-behavior: smooth;
}

.server-user-list > span {
    color: white
}

::-webkit-scrollbar {
    width: 0px;
}

