.dropdown-title-div,
.dm-title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: var(--channel-nav);
  border: none;
  padding: 0.3rem;
  width: 240px;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
}


.dropdown-title-div:hover {
  background-color: var(--hover-channel);
}

.dropdown-title {
  gap: 1rem;
  max-width: fit-content;
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
  padding: .4rem;
}

.dropdown-icon {
  margin-left: auto;
  /* position: relative; */
  padding-right: .4rem;
}

.fa-chevron-down {
  font-size: 11px;
}

.dropdown-icon-plus, 
#dm-plus {
  margin-left: auto;
  font-size: 1rem;
  background-color: var(--channel-nav);
  border: none;
}




